.main-header {
    background-color: greenyellow;
}

.main-title {
    text-align: center;
    padding: 15px;
    font-size: 35px;
}

.main-title__logo {
    width: 35px;
    vertical-align: middle;
}

.main-title__name {
    vertical-align: middle;
}

.main-title__image-icon {
    width: 22px;
    vertical-align: middle;
}

.main-nav {
    padding: 5px;
}

.main-nav__about,
.main-nav__filter {
    display: inline-block;
}

.main-nav__filter {
    float: right;
}

.grid-formulary {
    border: 3px solid #333;
    height: 100px;
}

.main-footer {
    background-color: greenyellow;
    padding: 5px;
    text-align: right;
}

.link {
    text-decoration: none;
    color: black;
}

.form-select,
.form-text,
.form-label {
    border-radius: 5px;
}

.form-label {
    font-weight: bold;
}

.main-footer__developer:before {
    content: 'by: ';
    font-weight: bold;
}