<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="formulary-style.css">
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <form class="main-form" action="">
            <legend class="form-legend">Cadastro</legend>
            <fieldset class="form-fieldset">
                <legend class="form-legend">Documentos</legend>
                <label for="">Nome:</label>
                <input class="form-input" type="text">

                <label for="">CPF:</label>
                <input class="form-input" type="number">

                <label for="">CNPJ:</label>
                <input class="form-input" type="number">

                <label for="">RG:</label>
                <input class="form-input" type="number">

                <label for="">Aniversário:</label>
                <input class="form-input" type="date">

                <label for="">PIS:</label>
                <input class="form-input" type="number">
            </fieldset>

            <fieldset class="form-fieldset">
                <legend class="form-legend">Contatos </legend>
                <label for="">Telefone:</label>
                <input class="form-input" type="number">

                <label for="">Celular:</label>
                <input class="form-input" type="number">

                <label for="">Email:</label>
                <input class="form-input" type="email">
            </fieldset>

            <fieldset class="form-fieldset">
                <legend class="form-legend">Endereço</legend>
                <label for="">Rua/Avenida:</label>
                <input class="form-input" type="text">

                <label for="">Nº:</label>
                <input class="form-input" type="number">

                <label for="">Bairro:</label>
                <input class="form-input" type="text">

                <label for="">CEP:</label>
                <input class="form-input" type="text">

                <label for="">Cidade:</label>
                <input class="form-input" type="text">

                <label for="">Estado:</label>
                <input class="form-input" type="text">

                <label for="">País:</label>
                <input class="form-input" type="text">
            </fieldset>

        </form>
    </body>

</html>